/* ------------------ */
/* Home / Header      */
/* ------------------ */

header#home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 0px;
    height: 100vh;
    padding: 0;
    justify-content: center;
}

header#home img {
    width: auto;
    height: 51vw;
    display: block;
    margin: 0 ;
    object-fit: cover;

    /* Difuminado suave y amplio a la derecha */
    -webkit-mask-image: linear-gradient(to right, 
                                        rgba(0,0,0,1) 40%, 
                                        rgba(0,0,0,0.8) 60%, 
                                        rgba(0,0,0,0.5) 75%, 
                                        rgba(0,0,0,0.2) 90%, 
                                        rgba(0,0,0,0) 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;

    mask-image: linear-gradient(to right, 
                                rgba(0,0,0,1) 40%, 
                                rgba(0,0,0,0.8) 60%, 
                                rgba(0,0,0,0.5) 75%, 
                                rgba(0,0,0,0.2) 90%, 
                                rgba(0,0,0,0) 100%);
    mask-repeat: no-repeat;
    mask-size: cover;
}




header#home h1 {
    font-size: 7rem;
    margin-bottom: 70px;
}

header#home h2 {
    font-size: 2rem;
    font-weight: 400;
    color: #ccc;
}

/* Hover nombre con animación automática cada 1 minuto */
.name {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Línea animada una sola vez */
.name::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #00bfff;
    animation: underlineOnce 5s ease forwards; /* solo una vez */
}

/* Animación keyframes */
@keyframes underlineOnce {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Hover normal sigue funcionando */
.name:hover::after {
    width: 100%;
    transition: width 0.3s ease;
}


/* Botones del header */
header#home .buttons {
    margin-top: 20px;
}

button, .btn {
    padding: 10px 25px;
    margin-right: 15px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

button.explore {
    background-color: #fff;
    color: #000;
}

button.explore:hover {
    background-color: #00bfff;
    color: #fff;
}

button.play {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}

button.play:hover {
    border-color: #00bfff;
    color: #00bfff;
}

/* ------------------ */
/* Responsive Home     */
/* ------------------ */
@media (max-width: 768px) {
    header#home {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 20px;
    }

    header#home img {
        width: 70%;
        margin: 0 auto;
    }
}
